       {% extends 'polls/base.html' %}
       {% block content %}
       <h1>{{ titel }}</h1>
        <p class="lead">
        Welcome to the voting page for my polls!
        You can simply vote here.
        
        </p>
        <hr /> 
        <h2>Current polls</h2> 
        {% if umfragen %}
        <ul>
            {% for umfrage in umfragen %}
            {% if umfrage.is_active %}
            <li><a href="{% url 'polls:umfrage-detail' umfrage.slug %}">{{ umfrage.name }}</a></li> 
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <h2>Completed Polls</h2>
        {% if umfragen %}
        <ul>
            {% for umfrage in umfragen %}
            {% if not umfrage.is_active %}
            <li><a href="{% url 'polls:results' umfrage.slug %}">{{ umfrage.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endblock %}
  