{% extends 'polls/base.html' %}
{% block content %}
{% if object %}
<h1>{{ object.name }}</h1>
<a href="{% url 'polls:index' %}">Back to Homepepage</a>
<h2>Answer Choices</h2>

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}  

{% if object.is_active and not voted %}
{% if object.choice_set.all %}
<form action="{% url 'polls:vote' object.slug %}" method="post">
  {% csrf_token %}
  {% for choice in object.choice_set.all %}
  <input type="radio" name="choice" value="{{ choice.id }}"
  id="choice{{ forloop.counter }}"/>
  <label for="choice{{ forloop.counter }}">{{ choice.name }}</label>
  {% endfor %}
  <input type="submit" value="Submit answer" />
</form>
{% else %}
<p>Unfotunately no answer option has been deposited yet.</p>
{% endif %}

{% else %}
<p>
  The poll has expired or you have already voted and can
  <a href="{% url 'polls:results' object.slug %}">here</a>
  view the results.
</p>
{% endif %}

{% else %}
<h1>No poll can be issued</h1>
{% endif %}
{% endblock %}